<style>
    <style>
    
    .modal-content {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
    }

  
    .modal-header {
        border-bottom: none;
        padding-bottom: 0;
    }

    /* Modal başlık metni stil ayarları */
    .modal-title {
        font-size: 1.5rem;
    }

    /* Modal kapatma butonu */
    .close {
        color: #000000;
        font-size: 2rem;
    }

    /* Form alanları ve etiketleri */
    input[type="email"],
    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 5px 0 15px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    /* Hesap Oluştur butonu */
    .buton {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        margin-top: 10px;
    }

    .buton:hover {
        background-color: #45a049;
    }

    /* Container içeriği genişlik ayarı */
    .container {
        width: 100%;
        text-align: center;
    }
</style>
</style>
<div class="modal fade" id="registerModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">Kayıt Ol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <h1 style="color:black" >Hesap Oluşturun</h1> <br>
                    <form action="/register" method="post" id="kayitFormu" onsubmit="return registerValidateForm()">
                        <input type="email"  name="email" placeholder="email@domain.com">
                        <input type="text"  id="username" name="username" placeholder="Kullanıcı Adı">
                        <input type="password"  id="password" name="password" placeholder="Şifre">
                        <button type="submit" class="buton">Hesap Oluştur</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    
</style>